<!DOCTYPE html>
{% comment %}
    * H030 = Consider adding a meta description.
    * H031 = Consider adding meta keywords.
{% endcomment %}
{# djlint:off H030,H031 #}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Internal server error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    {# djlint:on #}
    <body>
        <h1>Internal server error</h1>

        <h2>Sorry, there seems to be an error. Please try again soon.</h2>
    </body>
</html>
